header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    font-family: 'Roboto', sans-serif;
}

.header {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.email {
    color: #2196F3;
}

.studio {
    color: #2196F3;
}

.port {
    color: #212121;
}

.contact {
    color: #212121;
}

.nav_links a {
    display: inline-block;
    padding: 0 20px;
}

.div_conteiner_1 a {
    display: inline-block;
    padding: 0 20px;
}

.div_conteiner_1 a:hover{
    background-color: blue;
    transition: 0.07s;
    border-radius: 5px;
}

.nav_links a:hover {
    background-color: blue;
    transition: 0.07s;
    border-radius: 5px;
}

.promo {
    background-color: #2F303A;
    width: 1920px;
    height: 600px;
}

.promo h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7em;
    text-align: center;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-transform: uppercase;
    color: white;
}

.promo button {
    display: block;
    margin: auto;
    border-radius: 4px;
    background-color: #2196F3;
    width: 200px;
    height: 50px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: white;
}

.promo button:hover {
    cursor: pointer;
}

.promo button:active {
    background-color: gold;
}

.Tromo {
    background-color: #E5E5E5;
    width: 1920px;
    height: 950px;
}

.Tromo ul {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.Tromo li {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: auto;
}

.Tromo p {
    width: 270px;
    height: 75px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    margin-top: 200px;
    
}

.Tromo a {
    width: 370px;
    height: 294px;
}

.Tromo img {
    align-items: center;
    justify-content: center;
    margin-left: 190px;
    margin-top: 120px;
}

.Tromo h3 {
    display: flex;
    justify-content: center;
    margin-top: 100px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
}

.our_team {
    background-color: #F5F4FA;
    width: 1920px;
    height: 650px;
}

.our_team h3 {
    display: flex;
    justify-content: center;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;

}

.our_team li {
    display: flex;
    justify-content: center;
}

.our_team img {
    width: 270px;
    height: 260px;
    padding: 30px;

    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.footer {
    background-color: #2F303A;
    width: auto;
    height: 252px;
}

footer {
    padding-top: 60px;
    padding-left: 215px;
    display: flex;
}

.footer h2 {
    flex: 1;
    text-align: left;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}


.place {
    color: white;
}

.Email {
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.tel {
    color: rgba(255, 255, 255, 0.6);;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}