.logo {
    position: absolute;
    width: 145px;
height: 31px;
left: 215px;
top: 7px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
/* identical to box height */

letter-spacing: 0.03em;

color: #2196F3;
;
}

.studio {
    position: absolute;
    width: 45px;
    height: 16px;
    left: 550px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #2196F3;

}

.portfolio {
        position: absolute;
    width: 72px;
    height: 16px;
    left: 650px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #212121;

}

.contact {
    position: absolute;
width: 64px;
height: 16px;
left: 770px;
top: 32px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #212121;

}

.email {
    position: absolute;
width: 135px;
height: 16px;
left: 1300px;
top: 32px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #2196F3;

}

.tel {
    position: absolute;
width: 122px;
height: 16px;
left: 1500px;
top: 32px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #757575;

}

.info {
    position: absolute;
width: 696px;
height: 120px;
left: 580px;
top: 230px;

font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
/* or 136% */

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #ffff;

}

.but {
    position: absolute;
width: 200px;
height: 50px;
left: 820px;
top: 450px;

background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

color: #FFFFFF;

}

.section {
    position: absolute;
    width: 1920px;
    height: 700px;
    left: 0px;
    top: 80px;

    background: #2F303A;
}   

.hi_1 {
    position: absolute;
width: 270px;
height: 16px;
left: 240px;
top: 850px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;

}

.hio_1 {
    position: absolute;
width: 270px;
height: 75px;
left: 240px;
top: 880px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: #757575;

}

.hi_2 {
    position: absolute;
width: 270px;
height: 16px;
left: 700px;
top: 840px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;

}

.hio_2 {
    position: absolute;
width: 270px;
height: 75px;
left: 700px;
top: 870px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: #757575;
}

.hi_3 {
    position: absolute;
width: 270px;
height: 16px;
left: 1150px;
top: 840px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;

}

.hio_3 {
    position: absolute;
width: 270px;
height: 75px;
left: 1150px;
top: 870px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: #757575;

}

.hi_4 {
    position: absolute;
width: 270px;
height: 16px;
left: 1600px;
top: 840px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;

}

.hio_4 {
    position: absolute;
width: 270px;
height: 75px;
left: 1600px;
top: 870px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: #757575;

}

.info_120 {
    position: absolute;
    width: 366px;
    height: 42px;
    left: 750px;
    top: 1050px;

    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;

}

.WebStudio_1 {
    position: absolute;
    width: 370px;
    height: 294px;
    left: 250px;
    top: 1200px;
}

.WebStudio_2 {
    position: absolute;
    width: 370px;
    height: 294px;
    left: 760px;
    top: 1200px;
}

.WebStudio_3 {
    position: absolute;
    width: 370px;
    height: 294px;
    left: 1300px;
    top: 1200px;
}

.for_team {
    position: absolute;
width: 264px;
height: 42px;
left: 810px;
top: 1543px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;

}

.human_1 {
    position: absolute;
width: 270px;
height: 260px;
left: 400px;
top: 1635px;


border-radius: 0px;
}

.human_2 {
    position: absolute;
width: 270px;
height: 260px;
left: 700px;
top: 1635px;


border-radius: 0px;
}

.human_3 {
    position: absolute;
width: 270px;
height: 260px;
left: 1000px;
top: 1635px;


border-radius: 0px;
}

.human_4 {
    position: absolute;
width: 270px;
height: 260px;
left: 1300px;
top: 1635px;


border-radius: 0px;
}

.footer {
    position: absolute;
width: 1920px;
height: 252px;
left: 0px;
top: 2097px;

background: #2F303A;
}

.item {
    position: absolute;
width: 145px;
height: 31px;
left: 215px;
top: 10px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
/* identical to box height */

letter-spacing: 0.03em;

color: #2196F3;

}

.h5_kyiv {
    position: absolute;
width: 231px;
height: 21px;
left: 215px;
top: 40px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: #FFFFFF;

}

.email_20 {
    position: absolute;
width: 231px;
height: 21px;
left: 215px;
top: 70px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);

}

.tel_21 {
    position: absolute;
width: 231px;
height: 21px;
left: 215px;
top: 110px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);

}